{% extends 'base.template.html' %}

{% block content %}
<h1>Add Customer</h1>
<form method="POST">
    <div>
        <label class="form-label">First Name</label>
        <input type="text" name="first_name" class="form-control" value="{{old_values.first_name}}"/>
    </div>
    <div>
        <label class="form-label">Last Name</label>
        <input type="text" name="last_name" class="form-control" value="{{old_values.last_name}}"/>
    </div>
    <div>
        <label class="form-label">Email</label>
        <input type="text" name="email" class="form-control" value="{{old_values.email}}"/>
    </div>
    <div>   
        <label class="form-label">Send marketing material?</label>
        <input type="checkbox" name="can_send" {% if 'can_send' in old_values %} checked {%endif%}/>
    </div>
    <input type="submit" value="Create Customer" class="btn btn-primary"/>
</form>
{% endblock %}